<table>
	{% for version in site.data.versions.versions %}
		{% for url in version.pages %}
			<tr>
				<th>
				{% if header != version.name %}
					<a href="https://dist.alan-platform.com/share/versions/{{ version.name }}/versions.json">{{ version.name }}</a>
				{% endif %}
				{% assign header = version.name %}
				</th>

				{% assign item_url = url | remove_first: "pages/docs/" %}
				{% assign item_url_parts = item_url | split: "/" %}
				{% assign name = item_url_parts | first %}
				<td>
					{{ name }}
				</td>
				<td>
					<a href="{{url | relative_url }}">
						{% for part in item_url_parts offset:1 %}
							{% unless part contains '.html' %}
								{{ part }}
							{% endunless %}
						{% endfor %}
					</a>
				</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>
