<footer>
	<div class="inner">
		<section>
			<p>
				<a href="https://www.kjerner.com" rel="external">
					<img src="{{ 'assets/logo/kjerner-white.svg' | relative_url }}" alt="Kjerner logo" height="23">
				</a>
			</p>
			<p>
				<span class="brand">alan</span> is created by <a href="https://www.kjerner.nl">Kjerner</a><br>
				Please contact us for a free demo<br>
				<a href="mailto:info@kjerner.com">info@kjerner.com</a><br>
				<a href="https://www.kjerner.nl" rel="external">www.kjerner.nl</a>
			</p>
			<p class="social">
				<a href="https://www.linkedin.com/company/kjerner/">
					<img src="{{ 'assets/thirdparty/linkedin.svg' | relative_url }}" alt="LinkedIn logo" height="23">
				</a>
				<a href="https://github.com/alan-platform/">
					<img src="{{ 'assets/thirdparty/github.svg' | relative_url }}" alt="GitHub logo" height="23">
				</a>
			</p>
			<p class="copyright">
				&copy; <a href="https://www.kjerner.nl" rel="external">Kjerner</a> {{ site.time | date: "%Y" }} - Forever Flexible
			</p>
		</section>
	</div>
</footer>
