<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if page.url == "/" %}
		<title>{{ site.title }} - By Kjerner</title>
	{% else %}
		{% if page.head %}
			<title>{{ page.head }} - {{ site.title }}</title>
		{% elsif page.title %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ page.origin }}/{{ page.language}} {{ page.type}} - {{ site.title }}</title>
		{% endif %}
	{% endif %}

	<link rel="icon" href="{{ 'favicon.ico' | relative_url }}">

	<link rel="stylesheet" href="{{ 'src/normalize.css' | relative_url }}?{{ site.time | date: "%s"}}">
	<link rel="stylesheet" href="{{ 'src/main.css' | relative_url }}?{{ site.time | date: "%s"}}">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KFQDQ37N');</script>
	<!-- End Google Tag Manager -->
</head>
