{% assign page_url = page.url | remove_first: "/pages/" %}
{% assign page_url_parts = page_url | split: "/" %}
{% assign page_section = page_url_parts | first %}
{% assign page_section = page_section | remove_first: ".html" %}

{% capture main_nav %}
{% for item in site.pages %}
	{% if item.category == "main" %}

		{% assign item_url = item.url | remove_first: "/pages/" %}
		{% assign item_section = item_url | remove: "/" %}
		<li class="{% if item.url == page.url %}current{% endif %} {% if item_section == page_section %}current-section{% endif %} {% if item_section == page.category %}current-section{% endif %}">
			<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
		</li>
	{% endif %}
{% endfor %}
{% endcapture %}


<header>
	<nav class="inner">

		<a class="logo" href="{{ site.url }}">
			<img src="{{ 'assets/logo/full-white.svg' | relative_url }}" alt="Alan logo" height="32">
		</a>

		<ul class="main">
			{{ main_nav }}
		</ul>

		<a class="nav-toggle" href="#" onclick="menuOpen()">
			<svg height="24" class="opener octicon octicon-three-bars" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path></svg>
			<svg height="24" class="closer octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
		</a>

	</nav>

</header>
