<ul class="team">
	<li>
		<img src="{{ 'assets/team/rvda.jpg' | relative_url }}">
		<h3>Rick van der Arend</h3>
		<p>
			Founding Partner
			<br>
			<a href="mailto:rvanderarend@kjerner.com">
				<img src="{{ 'assets/thirdparty/mail.svg' | relative_url }}" alt="Mail icon" height="23">
			</a>
			<a href="https://www.linkedin.com/company/kjerner/">
				<img src="{{ 'assets/thirdparty/linkedin.svg' | relative_url }}" alt="LinkedIn logo" height="23">
			</a>
		</p>
	</li>
	<li>
		<img src="{{ 'assets/team/jw.jpg' | relative_url }}">
		<h3>Joost-Wim Boekesteijn</h3>
		<p>
			Engineer
			<br>
			<a href="https://www.linkedin.com/company/kjerner/">
				<img src="{{ 'assets/thirdparty/linkedin.svg' | relative_url }}" alt="LinkedIn logo" height="23">
			</a>
		</p>
	</li>
	<li>
		<img src="{{ 'assets/team/rvda.jpg' | relative_url }}">
		<h3>Rick van der Arend</h3>
		<p>
			Founding Partner
			<br>
			<a href="mailto:rvanderarend@kjerner.com">
				<img src="{{ 'assets/thirdparty/mail.svg' | relative_url }}" alt="Mail icon" height="23">
			</a>
			<a href="https://www.linkedin.com/company/kjerner/">
				<img src="{{ 'assets/thirdparty/linkedin.svg' | relative_url }}" alt="LinkedIn logo" height="23">
			</a>
		</p>
	</li>
	<li>
		<img src="{{ 'assets/team/jw.jpg' | relative_url }}">
		<h3>Joost-Wim Boekesteijn</h3>
		<p>
			Engineer
			<br>
			<a href="https://www.linkedin.com/company/kjerner/">
				<img src="{{ 'assets/thirdparty/linkedin.svg' | relative_url }}" alt="LinkedIn logo" height="23">
			</a>
		</p>
	</li>
</ul>
