.doc {
    article.wide {
        max-width: none;
        section > *:not(div) {
            max-width: $base-width;
            margin-right: auto;
            margin-left: 0;
        }
    }

    h1 + ul {
        list-style: none;
        margin: -1em*$ratio*$ratio 0 1em*$ratio*$ratio 0;
        padding: 0;
        border-bottom: 1px solid $grey6;
        text-align: center;
        color: $grey2;
        li {
            display: inline-block;
        }
        li:first-child {
            padding-right: 0;
            font-weight: bold;
        }
    }
}


table {
    margin: 1em 0 1em*$ratio 0;
    tr {
        border-bottom: 1px solid $grey5;
        @include breathe(background);
        &:hover {
            background: $grey6;
            td:last-child > a {
                &,
                &:link,
                &:visited,
                &:hover,
                &:active {
                    color: $blue;
                }
            }
        }
    }
    th,
    td {
        white-space: nowrap;
    }
    th {
        text-align: right;
        border-right: 1px dotted $grey6;
        font-weight: bold;
    }
    th > a,
    td > a {
        display: inline-block;
        width: 100%;
        padding: 0 1rem*$ratio;

        &,
        &:link,
        &:visited,
        &:hover,
        &:active {
            text-decoration: none;
            color: $black;
            @include breathe(color);
        }
    }

    a[href$='application/grammar.html'] {
        font-weight: bold;
        font-style: italic;
    }
}
