@font-face {
    src: url('/assets/fonts/ClearSans-Thin.woff');
    font-family: 'clear sans';
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/ClearSans-Light.woff');
    font-family: 'clear sans';
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/ClearSans-Regular.woff');
    font-family: 'clear sans';
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/ClearSans-Italic.woff');
    font-family: 'clear sans';
    font-weight: 400;
    font-style: italic;
}
@font-face {
    src: url('/assets/fonts/ClearSans-Medium.woff');
    font-family: 'clear sans';
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/ClearSans-MediumItalic.woff');
    font-family: 'clear sans';
    font-weight: 600;
    font-style: italic;
}
@font-face {
    src: url('/assets/fonts/ClearSans-Bold.woff');
    font-family: 'clear sans';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/ClearSans-BoldItalic.woff');
    font-family: 'clear sans';
    font-weight: 700;
    font-style: italic;
}

@font-face {
    src: url('/assets/fonts/PTmono.ttf');
    font-family: 'pt mono';
    font-weight: normal;
    font-style: normal;
}

