span.brand {
    display: inline-block;
    margin-right: .1em;
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
    font-variant: small-caps;
    text-transform: lowercase;
}

.home-hero {
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - 5rem);
    position: relative;
    background: $grey2 url('../assets/heroes/iStock-1055872862.jpg') no-repeat center bottom / cover;
    color: #FFF;

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding: 1rem 1rem*$ratio*$ratio*$ratio 1rem*$ratio*$ratio*$ratio*$ratio*$ratio 1rem*$ratio*$ratio*$ratio;
    }
    p {
        z-index: 1;
        margin: 0;
        font-weight: bold;
        font-size: 1rem*$ratio*$ratio*$ratio;
        line-height: 1;
        text-shadow: 0 0 1rem rgba(0,0,0,.5);

        + p {
            margin-top: 1em;
            font-weight: normal;
            font-size: 1rem*$ratio;
        }
    }
    svg {
        width: 32px;
        height: 32px;

        &.scroll-hint {
            position: absolute;
            bottom: -48px;
            left: 50%;
            margin-left: -16px;
            color: $grey2;
            opacity: 0;

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            animation: 2s fadeIn 1s ease-in-out;
            animation-fill-mode: forwards;

            polyline {
                stroke: currentColor;
            }
        }
    }

    .call-to-action {
        display: inline-flex;
        align-items: center;
        margin-top: 1rem*$ratio;
        padding: 1rem/$ratio 1rem;
        font-size: 1rem*$ratio;
        text-align: left;
        line-height: 1/$ratio;

        small {
            line-height: inherit;
            opacity: .8;
        }

        svg {
            display: inline-block;
            margin-right: 1ex;
        }
    }
}

.medium-post {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem 1rem*$ratio*$ratio*$ratio 1rem*$ratio 1rem*$ratio*$ratio*$ratio;
    padding: 1rem;
    border: 1px solid $grey5;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 1px 2px 4px transparentize($grey2, .7);
    transition: background .2s ease-in-out;

    &,
    &:link,
    &:visited {
        color: $grey2;
    }
    &:hover,
    &:active {
        text-decoration: none;
        background: $grey6;
        color: $grey1;
    }
    &:active {
        top: 1px;
        box-shadow: inset 1px 1px 2px transparentize($grey2, .7);
    }

    img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
    }
    svg {
        position: relative;
        top: -12px;
        left: -12px;
    }
}
