@mixin diagonal($color:black) {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 20%;
        bottom: 0;
        left: 0;
        background: transparent url('../assets/overlay-#{$color}.svg') no-repeat right top / cover;
        pointer-events: none;
        opacity: .2;
    }
}
