$black: #333;
$blue: #4a80ff;
$orange: #ff641a;
$green: #8fcc27;
$yellow: #ffc94a;

$grey-base: #2b2c30;
$grey1: $grey-base;
$grey2: lighten($grey-base, 6%);
$grey3: lighten($grey-base, 12%);
$grey4: lighten($grey-base, 36%);
$grey5: lighten($grey-base, 60%);
$grey6: lighten($grey-base, 76%);

$ratio: 1.414;

$base-width: 45rem;              // = 720 / 16px
$breakpoint: $base-width + 5rem; // + 80px
$hero-size: $base-width + 2 * 5rem;

* {
    box-sizing: border-box;
}

@mixin breathe($property) {
    transition: $property .5s ease-in-out;

    &:hover,
    &:active {
        transition: $property .1s ease-in-out;
    }
}
@mixin breatheFast($property) {
    transition: $property .25s ease-in-out;

    &:hover,
    &:active {
        transition: $property .05s ease-in-out;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'clear sans', sans-serif;
    font-size: 15px;
    line-height: $ratio;
    color: $black;
}

h1 {
    margin: 0;
    padding: 1em 0 1em/$ratio 0;
    text-align: center;
    font-size: 4em;
    @media (max-width: $breakpoint) {
        font-size: 2em*$ratio;
    }
}
h2 {
    margin: 1em*$ratio*$ratio*$ratio*$ratio 0 1em/$ratio/$ratio 0;
    font-size: 1em*$ratio;
}
h3,
h4,
h5,
h6 {
    margin: 1em 0 0 0;
    font-size: 1em;
}
h3 {
    font-size: 1.2em;
}

small {
    font-size: 1em/$ratio;
    line-height: 2;
}

ol,
ul {
    margin: 1em auto 1em*$ratio auto;
    padding: 0;
    li {
        margin-bottom: 1em/$ratio/$ratio;
    }
    nav & {
        margin-top: 0;
        li {
            margin-bottom: 0;
        }
    }

    ol,
    ul {
        margin-top: .5em;
        margin-left: 1em*$ratio;
    }
}

img {
    max-width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: $blue;
}
a:hover,
a:active {
    text-decoration: underline;
}

a.button {
    display: inline-block;
    position: relative;
    padding: 1em/$ratio/$ratio 1em/$ratio 1em/$ratio 1em/$ratio;
    border: 1px solid darken($orange, 8%);
    text-align: center;
    line-height: 1;
    background: $orange;
    color: #FFF;
    text-shadow: 1px 1px 4px transparentize($grey2, .7);
    box-shadow: 1px 2px 4px transparentize($grey2, .7);
    @include breathe(background);
    &:hover,
    &:active {
        text-decoration: none;
        background: darken($orange, 8%);
    }
    &:active {
        top: 1px;
        box-shadow: inset 1px 1px 2px transparentize($grey2, .7);
    }
}

blockquote {
    margin: 0;
    padding-left: 1em/$ratio;
    border-left: 2px solid $grey5;
    color: $grey2;
}


pre {
    margin: 0;
    padding: 1em/$ratio/$ratio 1em/$ratio;
    border-radius: 4px;
    line-height: 1;
    background: $grey6;
    box-sizing: border-box;
}
code {
    padding: 0 1ex/$ratio;
    border-radius: 4px;
    font-family: 'pt mono', monospace;
    font-size: 0.8em;
    background: $grey6;
    p > & {
        white-space: nowrap;
    }
    pre & {
        padding: 0;
        border-radius: 0;
        background: none;
        white-space: pre;
    }
}
code .punctuation { color: $grey2; }
code .string      { color: $blue; }
code .operator    { color: $orange; }

hr {
    margin: 0 1rem/$ratio;
    border: none;
    border-bottom: 2px solid $blue;
}
