@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400");

$black: #444;
$beige: #b6a99b;
$grey-base: mix($beige, lighten($black, 16%));
$grey1: $grey-base;
$grey2: lighten($grey-base, 8%);
$grey3: lighten($grey-base, 16%);
$grey4: lighten($grey-base, 24%);
$grey5: lighten($grey-base, 32%);
$grey6: lighten($grey-base, 40%);

$blue: #2f59bc;
$orange: #ffa32c;
$green: #22c546;
$red: #ff3e29;
$purple: #a42fbc;
$teal: #1db2a2;

$brand-color: #374996;


$ratio: 1.414;
$fat: 1rem/$ratio 1rem 1rem/$ratio 1rem;

$base-width: 45rem;              // = 720 / 16px
$breakpoint: $base-width + 5rem; // + 80px
$hero-size: $base-width + 2 * 5rem;

* {
	box-sizing: border-box;
}

@mixin breathe($property) {
	transition: $property .5s ease-in-out;

	&:hover,
	&:active {
		transition: $property .1s ease-in-out;
	}
}

html,
body {
	color: $black;
	font-size: 16px;
	line-height: $ratio;
	font-family: "Source Sans Pro", sans-serif;
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 4em;
	padding: 1em 0 1em/$ratio 0;
	margin: 0;
	@media (max-width: $breakpoint) {
		font-size: 2em*$ratio;
	}
}
h2 {
	font-size: 1em*$ratio;
	margin: 1em*$ratio 0 1em/$ratio/$ratio 0;
}
h3 {
	font-size: 1em;
	margin: 1em 0 0 0;
}
address,
p,
pre {
	margin: 1em auto 1em*$ratio auto;
}
small {
	font-size: 1em/$ratio;
	line-height: 2;
}

ol,
ul {
	margin: 1em auto 1em*$ratio auto;
	padding: 0;
	li {
		margin-bottom: 1em/$ratio/$ratio;
	}
	nav & {
		margin-top: 0;
		li {
			margin-bottom: 0;
		}
	}

	ol,
	ul {
		margin-left: 1em*$ratio;
	}
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #2f59bc;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

a.button {
	background: $orange;
	border: 1px solid darken($orange, 8%);
	border-radius: 6px;
	color: #fff;
	padding: 1em/$ratio/$ratio/$ratio/$ratio 1em/$ratio/$ratio;
	text-shadow: 1px 1px 4px transparentize($grey2, .7);
	box-shadow: 1px 1px 4px transparentize($grey2, .7);
	position: relative;
	@include breathe(background);
	&:hover,
	&:active {
		text-decoration: none;
		background: darken($orange, 8%);
	}
	&:active {
		top: 1px;
		box-shadow: inset 1px 1px 2px transparentize($grey2, .7);
	}
}

blockquote {
	padding-left: 1em/$ratio;
	margin: 0;
	border-left: 2px solid $grey5;
	color: $grey2;
}


pre {
	line-height: 1;
	background: lighten($beige, 28%);
	padding: 1em/$ratio/$ratio 1em/$ratio;
	border-radius: 4px;
	box-sizing: border-box;
}
code {
	font-family: "Source Code Pro", monospace;
	font-size: 0.9em;
	background: lighten($beige, 24%);
	border-radius: 4px;
	padding: 0 .5ex;
	pre & {
		background: none;
		border-radius: 0;
		padding: 0;
	}
}
code .punctuation { color: $grey1; }
code .string      { color: $blue; }
code .operator    { color: $orange; }
