<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="doc">
		{% include header.html %}

		<main class="wide">
			<h1>{{ page.language }}</h1>

			<p>
				<strong>{{ page.origin }}</strong>
				{{ page.type }} version
				<em>{{ page.version }}</em>
				<button aria-expanded="false" aria-controls="doc-list">
					Switch document
					<svg height="16px" width="16px" version="1.1" viewBox="0 0 32 32">
						<path d="M16,24l-16,-16l32,0l-16,16Z"/>
					</svg>
				</button>
			</p>

			<div id="doc-list" aria-expanded="false">
				{% include doc-index.html %}
			</div>


			<section>
				{{ content }}
			</section>
		</main>

		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
