<!DOCTYPE html>
<html lang="en" class="home">
{% include head.html %}
	<body>

		{% include header.html %}

		<div class="home-hero">
			<a class="button call-to-action" href="https://forms.gle/sLDHMycpGyWRAPg4A">
				<svg fill="none" height="24" viewBox="0 0 24 24" width="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" xmlns="http://www.w3.org/2000/svg">
					<path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"/>
					<polyline points="7.5 4.21 12 6.81 16.5 4.21"/>
					<polyline points="7.5 19.79 7.5 14.6 3 12"/>
					<polyline points="21 12 16.5 14.6 16.5 19.79"/>
					<polyline points="3.27 6.96 12 12.01 20.73 6.96"/>
					<line x1="12" x2="12" y1="22.08" y2="12"/>
				</svg>
				<span>
					Request Access
				</span>
			</a>
			<div class="inner">
				<p>
					Add Value<br>
					by removing Complexity<br>
				</p>
				<p>
					start now with alan
				</p>
			</div>
			<svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<polyline points="7 13 12 18 17 13"/>
				<polyline points="7 6 12 11 17 6"/>
			</svg>
		</div>

		<main>
			<section>
				<h2>
					The Model-Driven Low-Code Platform
				</h2>
				<p>
					<span class="brand">Alan</span> is a low code platform that enables the rapid development
					of data centric applications, from small to very, very large.
				</p>
				<p>
					It feels like prototyping, and lets you
					go from back-of-the-napkin to a running application in minutes.
				</p>
			</section>

			<section>

				<h2 class="centered">
					<span class="brand">Alan</span> supports global businesses
				</h2>

				<ul class="strip">
					<li>
						<img width="136" alt="OGD logo" src="{{ "assets/companies/ogd.png" | relative_path }}">
					</li>
					<li>
						<img width="136" alt="Allegion logo" src="{{ "assets/companies/allegion.png" | relative_path }}">
					</li>
					<li>
						<img width="136" alt="Tata Steel logo" src="{{ "assets/companies/tata.png" | relative_path }}">
					</li>
					<!-- <li>
						<img width="136" alt="Apenheul logo" src="{{ "assets/companies/apenheul.png" | relative_path }}">
					</li>
					<li>
						<img width="136" alt="Natural Bulbs logo" src="{{ "assets/companies/natural-bulbs.png" | relative_path }}">
					</li> -->
				</ul>

			</section>

			<section>
				<h2>Online Alan IDE</h2>
				<p>
					Do you want to see what it is all about? <a href="https://forms.gle/sLDHMycpGyWRAPg4A">Request access</a> to our online IDE and get started with your first Alan application!
				</p>
				<p class="centered">
					<a class="button call-to-action" href="https://forms.gle/sLDHMycpGyWRAPg4A">
						<span class="brand">Alan</span> Online IDE<br>
						Request access now!
					</a>
				</p>
			</section>

			<section class="notes">
				<h2>Alan for your Business</h2>
				<p>
					Are you running into the limitations of legacy systems or Excel?
					Get in touch with <a href="https://www.kjerner.com">Kjerner</a>
					and learn about the possibilities.
				</p>
				<p>
					For proprietary solutions, please contact us
					at <a href="mailto:info@kjerner.com">info@kjerner.com</a>.
				</p>
			</section>

		</main>


		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
