<!DOCTYPE html>
<html lang="en" class="home">
{% include head.html %}
	<body>

		{% include header.html %}

		<div class="home-hero">
			<h1>Alan</h1>
			<p>A better future for software</p>
		</div>

		<article>
			<section>
				<h2>
					The Low Code Platform
				</h2>
				<p>
					<span class="brand">Alan</span> is a low code platform that enables the rapid development
					of data centric applications, from small to very, very large.
				</p>
				<p>
					It feels like prototyping, and lets you
					go from back-of-the-napkin to a running application in minutes.
				</p>
			</section>

			<section>

				<h2 class="centered">
					<span class="brand">Alan</span> supports global businesses
				</h2>

				<ul class="strip">
					<li>
						<img width="136" alt="OGD logo" src="{{ "assets/companies/ogd.png" | relative_path }}">
					</li>
					<li>
						<img width="136" alt="Allegion logo" src="{{ "assets/companies/allegion.png" | relative_path }}">
					</li>
					<li>
						<img width="136" alt="Tata Steel log" src="{{ "assets/companies/tata.png" | relative_path }}">
					</li>
				</ul>

			</section>

			<section class="notes">
				<h2>Alan for your Business</h2>
				<p>
					Are you running into the limitations of legacy systems or Excel?
					Get in touch with <a href="https://www.kjerner.com">Kjerner</a>
					and learn about the possibilities.
				</p>
				<p>
					For proprietary solutions, please contact us
					at <a href="mailto:info@kjerner.com">info@kjerner.com</a>.
				</p>
			</section>

		</article>


		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
