<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="page">
		{% include header.html %}

		{% if page.hero %}
			<div class="hero" style="background-image: url({{ page.hero | relative_url }})"></div>
		{% endif %}

		<main>
			<h1>{{ page.title }}</h1>
			<nav>
				<ul>
					{% for anchor in page.anchors %}
				    <li>
				    	<a href="#{{ anchor.name }}">{{ anchor.label }}</a>
				    </li>
				    {% endfor %}
				</ul>

				{% for button in page.buttons %}
		    	<a class="button" href="{{ button.link | relative_url }}">{{ button.label }}</a>
			    {% endfor %}

			</nav>
			<section>
				{{ content }}
			</section>
		</main>

		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
