---
# this ensures Jekyll reads the file to be transformed into CSS later
---

@import "mixins";
@import "fonts";
@import "theme";

span.brand {
	font-style: italic;
	font-variant: small-caps;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: lowercase;
	display: inline-block;
	margin-right: .1em;
}

.home-hero {
	display: flex;
	justify-content: flex-end;
	position: relative;
	height: calc(100vh - 5rem);
	background: $grey2 url("../assets/heroes/iStock-1055872862.jpg") no-repeat center bottom / cover;
	color: #fff;
	overflow: hidden;
	.inner {
		@include anti_diagonal('black');
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem 1rem*$ratio*$ratio*$ratio;
	}
	p {
		margin: 0;
		font-weight: bold;
		font-size: 1rem*$ratio*$ratio*$ratio;
		line-height: 1;
		z-index: 1;

		+ p {
			margin-top: 1em;
			font-weight: normal;
			font-size: 1rem*$ratio;
		}
	}
	svg {
		width: 32px;
		height: 32px;
		position: absolute;
		bottom: 1em;
		left: 50%;
		margin-left: -16px;
	}

	.call-to-action {
		display: inline-flex;
		align-items: center;
		padding: 1rem/$ratio 1rem;
		font-size: 1rem*$ratio;
		margin-top: 1rem*$ratio;

		svg {
			display: inline-block;
			position: static;
			margin-right: 1em;
			margin-right: 1ex;
			margin-left: 0;
		}
	}
}



h2[id],
h3[id] {
	position: relative;
	a::after {
		@include breatheFast(opacity);
		content: "";
		width: 16px;
		height: 1em*$ratio;
		background: url("../assets/arrow.svg") no-repeat center center;
		background-size: 16px 16px;
		position: absolute;
		left: -1em;
		opacity: 0;
	}
	&:target {
		z-index: -1;
	}
	&:target a::after,
	a:hover::after {
		opacity: 1;
	}
	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: inherit;
		text-decoration: none;
	}
}
h3[id] a::after {
	background-size: 12px 12px;
}



a[name] { // make name-linked-content doesn't disappear behind header for # links
	display: block;
	position: relative;
	top: -3rem;
}
:target::before { // offset for fixed header
	content: "";
	display: block;
	height: 8rem;
	margin-top: -8rem;
}


section > * + * {
	margin-top: 1em/$ratio;
}

h2.centered {
	color: $grey5;
	font-style: italic;
	text-align: center;
}
p.centered {
	margin-top: 1rem*$ratio*$ratio;
	text-align: center;
}

.video-wrapper {
	text-align: center;
}


main {
	max-width: $base-width + 4;
	margin: 4rem auto 0 auto;
	> * {
		margin-left: 4rem;
		margin-right: 4rem;
	}
}


.strip {
	list-style: none;
	display: flex;
	position: relative;
	margin-right: -2rem*$ratio*$ratio;
	margin-left: -2rem*$ratio*$ratio;
	margin-bottom: 1rem*$ratio*$ratio;

	&::before,
	&::after,
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 1rem*$ratio*$ratio;
		border: 2px solid $grey6;
		background: lighten($grey6, 3%);

		@media (max-width: 700px) {
			padding: 2.67vw;
		}
	}
	li + li {
		margin-left: 1rem;
	}
	&::before {
		content: '';
		margin-right: 1rem;
		background: linear-gradient(to right, #fff, lighten($grey6, 3%));
		border-image: linear-gradient(to right, #fff, #eeeff0) 2;
		border-left: none
	}
	&::after {
		content: '';
		margin-left: 1rem;
		background: linear-gradient(to left, #fff, lighten($grey6, 3%));
		border-image: linear-gradient(to left, #fff, #eeeff0) 2;
		border-right: none
	}
}


@import "header";
@import "footer";
@import "docs";
