---
# this ensures Jekyll reads the file to be transformed into CSS later
---

@import "theme";

pre {
	line-height: 1;
	overflow: hidden;
	background: #f5f5f5;
	padding: 0 1em/$ratio;
	border-radius: 4px;
	box-sizing: border-box;
}
code {
	font-family: "Source Code Pro", monospace;
	font-size: 0.92em;
}
code .punctuation { color: #777; }
code .string      { color: #2f59bc; }
code .operator    { color: #ffa32c; }

.home-hero {
	background: linear-gradient(lighten($orange, 9%), lighten($orange, 8%));
	padding-top: 5rem;
	@media (max-width: $breakpoint) {
		padding-top: 3rem;
	}
	h1 {
		margin: 0;
		padding-top: 256px;
		padding-bottom: 0;
		color: darken($orange, 10%);
		background: url("../assets/alan.png") no-repeat center top;
		background-size: 256px;
		+ p {
			margin: 0;
			text-align: center;
			color: lighten($orange, 36%);
			border-bottom: 1px solid $orange;
			padding-bottom: 1em*$ratio;
		}
	}
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background: $orange;
	color: #fff;

	.inner {
		max-width: 1280px - 80*2;
		margin: 0 auto;
		position: relative;
	}

	ul {
		margin: 0;

		@media (max-width: $breakpoint) {
			display: none;
			clear: both;
		}

		a {
			@include breathe(border-bottom-color);
		}

		a,
		a:link,
		a:visited,
		a:hover,
		a:active {
			font-size: 1em*$ratio;
			font-weight: bold;
			color: #fff;
			display: inline-block;
			border-bottom: 3px solid transparent;
			margin-bottom: 3px;
		}
		a:hover,
		a:active {
			text-decoration: none;
			border-bottom-color: darken($orange, 8%);
		}
		a:active {
			border-bottom-color: darken($orange, 12%);
		}
		.current > a {
			border-bottom-color: darken($orange, 12%);
		}
	}

	li {
		line-height: calc(2rem - 6px);
		padding: $fat;
		&.home {
			padding-top: 0;
			padding-bottom: 0;
			img {
				margin-bottom: -8px;
			}
			a,
			a:link,
			a:visited,
			a:hover,
			a:active {
				border-bottom: none;
			}
		}

		@media (min-width: $breakpoint) {
			display: inline-block;
			+ li {
				padding-left: 0;
			}
		}

		svg,
		img {
			margin-bottom: -4px;
		}
	}

	.secondary {
		font-size: 1em/$ratio;
		position: absolute;
		right: 0;
		top: 0;

		@media (max-width: $breakpoint) {
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		li {
			display: inline-block;
		}
	}

	.logo {
		display: block;
		float: left;
		padding: $fat;
		box-sizing: content-box;
		height: 1rem*$ratio*$ratio;
		img {
			display: block;
			height: 1rem*$ratio;
		}
	}

	.nav-toggle {
		@include breathe(color);

		display: none;
		color: #fff;
		padding: $fat;
		position: absolute;
		right: 0;
		top: 3px;

		&:hover,
		&:active {
			color: lighten($orange, 24%);
		}
		svg {
			fill: currentColor;
			display: none;
		}
		@media (max-width: $breakpoint) {
			display: block;
		}
	}

	@media (max-width: $breakpoint) {
		&.open {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			ul {
				display: block;
			}
			.closer {
				display: block;
			}
		}
		&:not(.open) .opener {
			display: block;
		}
	}
}

footer {
	margin: 4rem 0 0 0;
	color: lighten($beige, 36%);
	background: $beige;
	padding: 0 1em*$ratio*$ratio;

	.inner {
		padding: 1em*$ratio*$ratio 0;
		background: url("../assets/m-industries.png") no-repeat right top;
		background-size: 90px;
		max-width: 1280px - 80*2;
		margin: 0 auto;
	}
}

article {
	max-width: $base-width + 4;
	margin: 4rem auto 0 auto;
	> * {
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.notes {
		color: darken($beige, 8%);
	}
}


.strip {
	display: flex;
	justify-content: space-around;
	color: $beige;
	margin: 2rem*$ratio 0;
	span {
		display: block;
	}
	img {
		filter: drop-shadow(1px 1px 4px transparentize($grey2, .7));
		@include breathe(filter);
	}
	li {
		display: inline-block;
		padding: 0 1rem;
		text-align: center;
		flex: 1;
	}
	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: currentColor;
		text-decoration: none;
		@include breathe(color);
	}
	a:hover,
	a:active {
		img {
			filter: drop-shadow(1px 1px 8px transparentize($grey2, .2));
		}
		color: $orange;
	}
}

